# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.idea
# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
/3sec.mp4
/16sec.mp4
*.mp4
*.csv
*.xlsm
old_nogit/